{{ define "main" }}
<!--标题-->
<header class="mb-16">
    <h1 class="!my-0 pb-2.5">{{ .Title }}</h1>
</header>

{{ $archives := slice }}

{{ range where .Site.RegularPages "type" "!=" "extra" }}
  {{ $year := .Date.Format "2006" }}
  {{ $pages := .Pages }}
  
  <h2>{{ $year }}</h2>
  
  <!--文章组-->
  <ul>
    {{ range $pages }}
      <li>
        <span class="mr-5">{{.Date.Format "01-02"}}</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  
  {{ $archives = $archives | append (dict "Year" $year "Pages" $pages) }}
{{ end }}

{{ end }}
