{{ define "main" }}
<!--标题-->
<header class="mb-16">
    <h1 class="!my-0 pb-2.5">{{ .Title }}</h1>
</header>

{{ $archives := slice }}

{{ range where .Site.RegularPages "type" "!=" "extra" }}
  {{ $year := .Date.Format "2006" }}
  {{ $monthDay := .Date.Format "01-02" }}
{{ end }}

{{ range $year, $data := $archives }}
  <h2>{{ $year }} ({{ $data.Count }})</h2>
  
  <ul>
    {{ range $monthDay, $title := $data.Months }}
      <li>
        <span class="mr-5">{{ $monthDay }}</span>
        <a href="{{ .RelPermalink }}">{{ $title }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ end }}
