/* Place custom css here. */

/*20230815添加 维护list，添加缩略图类*/
.summarysimg{
    display: flex;
    justify-content:space-between;
    align-items: flex-start; 
  }


.rightimg{
    flex: 0 0 30%; /* 占据 30% 的宽度，不会扩展或收缩 */
    max-width: 30%; /* 设置最大宽度为 30% */
    height: auto; /* 高度会根据宽度和图片比例自适应 */
}